<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Charitable Bartering</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="../sources/css/reward.css">
</head>

<body>

  <div class="main">
    <h1>Donate Items to Charity</h1>

    <section>
      <form id="inventoryForm" >
        <h2>Upload images for item to donate</h2>
        <label for="file-upload" id="file-upload-label">Select Images</label>
        <input type="file" id="file-upload" name="file" accept="image/*" multiple required>
      </form>
    </section>

    <section>
      <h2>Choose a Charitable Organization</h2>
      <select id="charityList" required>
        <option value="" disabled selected>Select Charity</option>
        <option value="charity1">Charity 1</option>
        <option value="charity1">Charity 2</option>
        <option value="charity1">Charity 3</option>
        <option value="charity1">Charity 4</option>
      </select>
    </section>


    <section>
      <h2>Schedule Your Donation</h2>
      <form id="donationForm">
        <label for="pickupDate">Pickup/Drop-off Date:</label>
        <input type="date" id="pickupDate" name="pickupDate" required>
        <input type="submit" value="Schedule Donation">
      </form>
    </section>
  </div>

  <section class="thanks" id="thanks-section">
    <div class="thanks-content">
      <h2>Thank You for Your Contribution!</h2>
      <p>Your donation is scheduled.</p>
      <p>You have received points for your donation.</p>
      <img src="../sources/img/thanks.png" style="margin-top: 5px; width: 25%;"><br><br>
      <input type="submit" class="collect" value="Collect!">
    </div>
  </section>

  <script src="../sources/js/reward.js"></script>

</body>

</html>